<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('includes/head', {title:'404 page'}) %>
        <link rel="stylesheet" href="/styles/index.css" />
</head>

<body>
    <header>
        <%- include('includes/header') %>
            <div id="text-header">
                <h1>
                    <span class="emp-font">Page Not Found</span>
                </h1>
                <p>Sorry we can find the page that you're looking for.</p>
            </div>
    </header>
    <main>

    </main>
    <footer></footer>
</body>

</html>