<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('includes/head', {title:'500 page'}) %>
        <link rel="stylesheet" href="/styles/index.css" />
</head>

<body>
    <header>
        <%- include('includes/header') %>
            <div id="text-header">
                <h1>
                    <span class="emp-font">Something went wrong in the server</span>
                </h1>
                <p>We are trying our best to fix the problem!!</p>
            </div>
    </header>
    <main>

    </main>
    <footer></footer>
</body>

</html>