<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('includes/head', {title:'About MaBlog'}) %>
        <link rel="stylesheet" href="/styles/index.css" />
</head>

<body>
    <header>
        <%- include('includes/header') %>
            <div id="text-header">
                <h1>
                    <span class="emp-font">Share your idea!</span> Write your journals,
                    storybooks and scrapbooks then
                    <span class="emp-font">share with friends</span> as timelines or
                    e-books.
                </h1>
                <div id="header-browse">
                    <button class="header-browse">
                        Search posts
                        <svg viewBox="0 0 16 16" enable-background="new 0 0 16 16" xml:space="preserve">
                            <path
                                d="M11,9.7c1.4-1.9,1-4.7-0.9-6.1S5.4,2.7,4,4.6s-1,4.7,0.9,6.1c1.5,1.1,3.6,1.1,5.1,0l0,0l0.1,0.1l2.5,2.5 c0.3,0.3,0.7,0.3,0.9,0c0.3-0.3,0.3-0.7,0-0.9L11,9.7C11,9.8,11,9.8,11,9.7L11,9.7z M11.2,7.2c0,2-1.7,3.7-3.7,3.7S3.8,9.2,3.8,7.2 s1.7-3.7,3.7-3.7S11.2,5.2,11.2,7.2z" />
                            <circle fill="none" stroke="#000000" stroke-miterlimit="10" cx="7.5" cy="7.2" r="3.4" />
                        </svg>
                    </button>
                </div>
            </div>
    </header>
    <main>
        <h1>About</h1>
    </main>
    <footer></footer>
</body>

</html>