<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('includes/head', {title:'Add post'}) %>
        <link rel="stylesheet" href="/styles/add-post.css" />
</head>

<body>
    <header>
        <%- include('includes/header') %>
            <div id="text-header">
                <h1>
                    <span class="emp-font">Share your idea!</span> Start writting
                </h1>
            </div>
    </header>
    <main>
        </br>
        <section id="add-post">
            <form action="/index" method="post">
                <span><label for="title">Title</label><br />
                    <input type="text" name="title" id="title" required><br />
                </span>
                <span><label for="summary">Summary</label><br />
                    <input type="text" name="summary" id="summary" required><br />
                </span>
                <span><label for="postContent">Post</label>
                    <br />
                    <textarea name="postContent" id="postContent" row="20" required></textarea>
                </span>

                <span> <input type="checkbox" id="categories1" name="categories" value="family">
                    <label for="categories1">Family</label></span>
                <span><input type="checkbox" id="categories2" name="categories" value="Sport">
                    <label for="categories2">Sport</label></span>
                <span><input type="checkbox" id="categories3" name="categories" value="Study">
                    <label for="categories3">Study</label></span>
                <span><input type="checkbox" id="categories4" name="categories" value="Movie">
                    <label for="categories4">Movie</label></span>
                <span><input type="checkbox" id="categories5" name="categories" value="Love">
                    <label for="categories6">Love</label></span>
                <span><input type="checkbox" id="categories6" name="categories" value="Food">
                    <label for="categories6">Food</label><br></span>

                <label for="author">Choose an author:</label>
                <select name="author" id="author">
                    <% for (const author of authors) { %>
                        <option value="<%=author.id%>">
                            <%=author.name%>
                        </option>
                        <% } %>
                </select><br>
                <div class="btn">
                    <button>Create</button>
                </div>

            </form>
        </section>
    </main>
    <footer></footer>
</body>

</html>